<!DOCTYPE html>
<html>
<head>
	<title></title>
     <% include head.ejs %>
   </head>
    <body>
      <% include header.ejs %>
    
    <section class="engine"><a href="https://mobirise.info/a">online web builder</a></section><section class="mbr-section content5 cid-rirORmiEqN mbr-parallax-background" id="content5-5">

    

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(129, 2, 173);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">Code of Conduct</h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content9 cid-rirP3h9DBJ" id="content9-6">
    
     

    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-fonts-style display-7">Our Employee Code of Conduct policy refers to company expectations regarding employees’ behavior towards their colleagues, supervisors and overall organization.
<div>
</div><div>Although we promote freedom of expression and open communication practices, all employees are still obliged to follow a code of conduct. It is essential to avoid giving offence, participating in serious disputes and disrupting the workplace. It is also important to be a well-organized, respectful and collaborative environment.</div><br><div>
</div><div>
</div><div><strong>Scope
</strong></div><div>This policy applies to all prospective or current employees of the company regardless of employment agreement or rank.
</div><div>
</div><div>Policy elements
</div><div>Company employees are bound by the terms of their contract to adhere to specific guidelines that apply to every work-related space during their work. All employees are obliged to know and follow the Employee Code of Conduct.</div><br><div>
</div><div>
</div><div><strong>Compliance with Law
</strong></div><div>All employees must protect the company’s legality. Legal guidelines refer to all environmental, safety and fair dealing dictations of the local and international law as well as the company policy for social corporate responsibility.
</div><div>
</div><div>In addition to these, all employees are obliged to refrain from unlawful or offensive behavior against the company where its finances, products, partnerships or public image are concerned.</div><br><div>
</div><div>
</div><div><strong>Respect in the Workplace
</strong></div><div>Employees are obliged to behave in a respectful manner towards their colleagues and strictly refrain from any kind of discriminatory behavior, harassment or victimization. This applies to all aspects of the workplace from the recruitment and evaluation processes to interpersonal relations between employees. The company has no tolerance for this kind of behavior and disciplinary actions will be taken when appropriate.</div><br><div>
</div><div>
</div><div><strong>Protection of Company Property
</strong></div><div>All employees should treat the company’s property, whether material or intangible, with respect and care. Company equipment must not be misused or used frivolously.
</div><div>
</div><div>All kinds of incorporeal property, including law-binding creations such as trademarks and copyright, as well as other elements for which it retains ownership (information, reports etc.) are to be respected and used only within the rights accompanying the duties of each position.
</div><div>
</div><div>Company facilities and other material property must not be damaged or vandalized with an employee’s responsibility. Such actions will invoke disciplinary and/or legal action in cases of voluntary violation.</div><br><div>
</div><div>
</div><div><strong>Professionalism
</strong></div><div>All employees must abide to certain rules that show integrity and high quality professionalism while executing their duties in the workplace. The following include the company’s expectations from its employees:
</div><div>
</div><div>Personal Appearance
</div><div>All employees must follow the dress code and personal appearance guidelines of the company as outlined in the official policy. Non-conformity will be met with disapproval and the employee will have to change their conduct to meet the company’s standards</div><br><div>
</div><div>
</div><div><strong>Corruption
</strong></div><div>Employees are actively discouraged from accepting gifts from clients or partners and strictly prohibited to accept briberies for the benefit of any external or internal party. Such behavior may invoke legal actions that will be damaging for both parties responsible.</div><br><div>
</div><div>
</div><div><strong>Job duties and authority
</strong></div><div>All employees must pay attention to their job duties and fulfill them with integrity and respect towards the customers, stakeholders and community. Supervisors and managers are prohibited from abusing their authority, but are expected to delegate duties to their subordinates with respect to their competences and workload. Mentoring and motivating are actively encouraged. All employees are expected to follow supervisor’s instructions and execute all of their duties as assigned with skill and in a timely manner.</div><br><div>
</div><div>
</div><div><strong>Absenteeism and Tardiness
</strong></div><div>Employees should adhere to established schedules. This does not refer to occasional discrepancies that an employee might face that prevent them from following standard working hours or days. It refers to a uniform stance towards the expected times of arrival and departure from work, as well as the amount of time someone spends on the execution of their duties.</div><br><div>
</div><div>
</div><div><strong>Conflict of Interest
</strong></div><div>All employees are expected to avoid any personal, financial or other interests that might hinder their capability or willingness to perform their job duties or be damaging to the company. Any situation voluntary or involuntary that might be perceived as conflict of interest must be reported to the appropriate manager.</div><br><div>
</div><div>
</div><div><strong>Collaboration
</strong></div><div>All employees are expected to maintain a climate of friendliness and harmony and endeavor not to disrupt the workplace for the execution of their duties or present obstacles to the work of their colleagues. It is important to respect others’ work and efforts. All employees are encouraged to work collaboratively when applicable.</div><br><div>
</div><div>
</div><div><strong>Communication
</strong></div><div>All employees must be open for communication with their colleagues, supervisors or subordinates. It is important that any employee in the workplace can refer to another so that their work as well as work conditions can be as productive and problem-free as possible.</div><br><div>
</div><div>
</div><div><strong>Benefits
</strong></div><div>All employees are discouraged from abusing the benefits provided to them by the company. This can refer to time off granted to an employee for a specific reason (e.g. sick leave), insurance, facilities, subscriptions or other benefits that the company offers.</div><br><div>
</div><div>
</div><div><strong>Policies
</strong></div><div>All employees are obliged to be aware of and follow all the established policies that have been created by the company and apply to the procedures, benefits and relations of the workplace.</div><br><div>
</div><div>
</div><div><strong>Disciplinary Actions
</strong></div><div>Failure to comply with any part of the Code of Conduct’s guidelines will result in appropriate disciplinary action. The party responsible for non-compliance will be subject to repercussions that vary in regards to the severity of the violation. Possible consequences will include reprimand, detraction of benefits for a definite or indefinite time, demotion, suspension or termination for more serious offences. Legal action may have to be pursued in cases of corruption, theft, embezzlement or other unlawful behavior.</div></div>
            <hr class="line" style="width: 25%;">
        </div>
        </div>
</section>

<section class="map1 cid-rirP5SJuoH" id="map1-7">

     

    <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.8844451901796!2d77.15029131508398!3d28.693103082393932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d03b972435671%3A0xb193ebb70fcbd2d7!2sNabo+Technologies!5e0!3m2!1sen!2sin!4v1550555901568" allowfullscreen=""></iframe></div>
</section>

  <% include footer.ejs %>
</body>
</html>