<!DOCTYPE html>
<html>
<head>
	<title></title>
<% include head.ejs %>
   </head>
    <body>
      <% include header.ejs %>
         
        <section class="engine"><a href="https://mobirise.info/v">free html templates</a></section><section class="mbr-section content5 cid-ripVMWu1Td mbr-parallax-background" id="content5-d">

    

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(129, 2, 173);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">
                    FAQ's</h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="accordion2 cid-ripWj3UJba" id="accordion2-e">

    


    
    <div class="container">
        <div class="media-container-row pt-5">
            <div class="accordion-content">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-5">Frequently asked questions</h2>
                <h3 class="mbr-section-subtitle pt-2 align-center mbr-light mbr-fonts-style display-5">How can we help you</h3>
                <div id="bootstrap-accordion_47" class="panel-group accordionStyles accordion pt-5 mt-3" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse1_47" aria-expanded="false" aria-controls="collapse1">
                                    <h4 class="mbr-fonts-style display-5">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>&nbsp;Can I make an account on Nabo?
                                    </h4>
                                </a>
                            </div>
                            <div id="collapse1_47" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_47">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-7">
                                       Sure you can! If you register using your email address and a password, you can check your order history and find out the status of your current orders. Moreover, you can save your personal information, like your carrier and phone number, so your next order will go even faster.</p>
                                </div>
                            </div>
                        </div>
                
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse2_47" aria-expanded="false" aria-controls="collapse2">
                                    <h4 class="mbr-fonts-style mbr-fonts-style display-5">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>&nbsp;Are payment transactions secure?</h4>
                                </a>
                                
                            </div>
                            <div id="collapse2_47" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#bootstrap-accordion_47">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-7">
                                       All of our payment methods are secured. Moreover, our website is encrypted with an https certificate and we use a 256-bit SSL-connection. These measures ensure a safe environment for your payments.</p>
                                </div>
                            </div>
                        </div>
                
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse3_47" aria-expanded="false" aria-controls="collapse3">
                                    <h4 class="mbr-fonts-style display-5">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>&nbsp;How does Recharge.com handle my personal information?</h4>
                                </a>
                            </div>
                            <div id="collapse3_47" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#bootstrap-accordion_47">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-7">In a digital world, protection of personal information is very important. We feel very strongly about this. That’s why we drafted a privacy policy, in which we precisely describe what information we collect, how we do this and for what purposes we use it.</p>
                                </div>
                            </div>
                        </div>
                
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFour">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse4_47" aria-expanded="false" aria-controls="collapse4">
                                    <h4 class="mbr-fonts-style display-5">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>&nbsp;Why do I pay a service fee?</h4>
                                </a>
                            </div>
                            <div id="collapse4_47" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#bootstrap-accordion_47">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-7">We want to provide you with the best service and to do so we charge a service fee. Why is that?
<br>
<br>Making use of certain banking connections and payment methods, comes with costs for us too
<br>We make sure you can access our website 24 hours a day, 365 days a year
<br>You receive your recharge or recharge code within several minutes
<br>Nabo provides you with a safe payment environment
<br>There's an enthusiastic Customer Care team at your service in case you have questions or need some help</p>
                                </div>
                            </div>
                        </div>
                
                        
                
                        
                </div>
            </div>
            <div class="mbr-figure" style="width: 105%;">
                    <img src="/images/mbr-4-1042x695.jpg" alt="Mobirise" title="">
            </div>
        </div>
    </div>
</section>

<section class="map1 cid-riq0e0SRvK" id="map1-g">

     

    <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.8844451901796!2d77.15029131508398!3d28.693103082393932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d03b972435671%3A0xb193ebb70fcbd2d7!2sNabo+Technologies!5e0!3m2!1sen!2sin!4v1550555901568" allowfullscreen=""></iframe></div>
</section>



     <% include footer.ejs %>
</body>
</html>