<!DOCTYPE html>
    <html>
    <head>
        <title></title>
        <% include head.ejs %>
    </head>
    <body>
      <% include header.ejs %>
  
          <section class="engine"><a href="https://mobirise.info/b">create a website</a></section>
<section class="cid-qTkA127IK8 mbr-fullscreen" data-bg-video="https://www.youtube.com/watch?v=36YgDDJ7XSc" id="header2-1">

    

    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(129, 2, 173);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-2">Turn your businees into a profit</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    Started in 2017, Nabo is a new age technology platform providing last mile access to the base of economic pyramid with over 100+ financial and non-financial services on an assisted commerce model.
                </p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="http://api.nabotechnologies.com">Become a Partner</a></div>
            </div>
        </div>
    </div>
    
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="features15 cid-rih2ALZs9y" id="features15-c">

    

    
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">Simple. Secure.
 Digital Payments</h2>
        <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style">Start selling over 100+ services under a single account instantly.</h3>

        <div class="media-container-row container pt-5 mt-2">

            <div class="col-12 col-md-6 mb-4 col-lg-4">
                <div class="card flip-card p-5 align-center">
                    <div class="card-front card_cont">
                        <img src="/images/background1.jpg" alt="Mobirise">
                    </div>
                    <div class="card_back card_cont">
                        <h4 class="card-title display-5 py-2 mbr-fonts-style">
                            Merchants
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            “With Nabo, a network of small mom-and-pop stores can actually enjoy the same scale advantages as those of superstores and ecommerce”
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-4 col-lg-4">
                
                <div class="card flip-card p-5 align-center">
                    <div class="card-front card_cont">
                        <img src="/images/background2.jpg" alt="Mobirise">
                    </div>
                    <div class="card_back card_cont">
                        <h4 class="card-title py-2 mbr-fonts-style display-5">
                            Corporates</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Earn commission on every transaction without the hassle of keeping inventory
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-6 mb-4 col-lg-4">
                <div class="card flip-card p-5 align-center">
                    <div class="card-front card_cont">
                        <img src="/images/background3.jpg" alt="Mobirise">
                    </div>
                    <div class="card_back card_cont">
                        <h4 class="card-title py-2 mbr-fonts-style display-5">
                            Government
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">Through e-governance, Government to Citizen (G2C) services can be made available in a convenient, efficient and transparent manner</p>
                    </div>
                </div> 
            </div>

            
        </div>
</div></section>

<section class="header7 cid-rijESbaTJ1" id="header7-7">

    

    

    <div class="container">
        <div class="media-container-row">

            <div class="media-content align-right">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-5"><strong>Transactions with a single click</strong></h1>
                <div class="mbr-section-text mbr-white pb-3">
                    <p class="mbr-text mbr-fonts-style display-5">Start selling 100+ products and services in your neighbourhood with a click. Assist consumers in performing digital transactions and accept payments in digital or by cash. <br>Increase footfall and sales while putting your store at the heart of your community</p>
                </div>
                
            </div>

            <div class="mbr-figure" style="width: 100%;"><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/9fUYlo_s3kk?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>

        </div>
    </div>
</section>

<section class="map1 cid-rihfBOFZXS" id="map1-4">

     

    <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.8844451901796!2d77.15029131508398!3d28.693103082393932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d03b972435671%3A0xb193ebb70fcbd2d7!2sNabo+Technologies!5e0!3m2!1sen!2sin!4v1550555901568" allowfullscreen=""></iframe></div>
</section>

      <% include footer.ejs %>
    </body>
    </html>
