<!DOCTYPE html>
<html>
<head>
	<title></title>
  <% include head.ejs %>
   </head>
    <body>
      <% include header.ejs %>
      
      <section class="engine"><a href="https://mobirise.info/y">free html website templates</a></section><section class="mbr-section content5 cid-ris237KuWo mbr-parallax-background" id="content5-b">

    

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(102, 5, 136);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">
                    Register Now</h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content9 cid-ris3ef8bAk" id="content9-h">
    
     

    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-fonts-style display-5">
                    Login Here</div>
            <hr class="line" style="width: 25%;">
        </div>
        </div>
</section>
            <div class="container">
                  <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" style="margin-left: 190px;">
                    <form action="/login" method="post">
                    

                       <div class="col-md-8 multi-horizontal" data-for="email">
                        <label class="form-control-label mbr-fonts-style display-7" for="email-form1-i">Email</label>
                     <input type="text" class="form-control" name="email" data-form-field="Email">
                      </div>   
                     <div class="col-md-8 multi-horizontal" data-for="password">
                     <label class="form-control-label mbr-fonts-style display-7">Password</label>
                        <input type="password" name="password" class="form-control" required="">
                  </div>  
                 
             <input type="submit" class="btn btn-primary btn-form display-4">
             <!-- <span>Don't have an account?<a href="/register">SignUp Now</a></span> -->
            <div class="clearfix"></div>
     </form>
            </div>
        </div>
    </div>