<!DOCTYPE html>
<html>
<head>
	<title></title>
  <% include head.ejs %>
   </head>
    <body>
      <% include header.ejs %>
      
      <section class="engine"><a href="https://mobirise.info/y">free html website templates</a></section><section class="mbr-section content5 cid-ris237KuWo mbr-parallax-background" id="content5-b">

    

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(102, 5, 136);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">
                    Register Now</h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content9 cid-ris3ef8bAk" id="content9-h">
    
     

    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 50%;">
            <div class="section-text align-center mbr-fonts-style display-5">
                    Register Here</div>
            <!-- <hr class="line" style="width: 25%;"> -->
        </div>
        </div>
</section>
            <div class="container">
                  <div class="row justify-content-center">
            <div class="media-container-column col-lg-8">
                    <form action="/signup" method="post"  style="margin-left: 190px;">
                        <div class="col-md-8 multi-horizontal" data-for="firstname">
                     <label  class="form-control-label mbr-fonts-style display-7" for="firsrname-form1-i">First Name</label>
                        <input type="text" name="firstname" class="form-control" required="" id="name-form1-i">
                     </div>

                   <div class="col-md-8 multi-horizontal" data-for="lastname">
                     <label  class="form-control-label mbr-fonts-style display-7" for="firsrname-form1-i">First Name</label>
                        <input type="text" name="lastname" class="form-control" required="" id="name-form1-i">
                     </div> 

                       <div class="col-md-8 multi-horizontal" data-for="email">
                        <label class="form-control-label mbr-fonts-style display-7" for="email-form1-i">Email</label>
                     <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-i">
                      </div>   
                     <div class="col-md-8 multi-horizontal" data-for="password">
                     <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-i">Password</label>
                        <input type="password" name="password" class="form-control" required="">
                  </div>  
                  <div class="col-md-8 multi-horizontal" data-for="mobile">
                 <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-i">Phone</label>
                        <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-i">
                  </div>
             <span class="input-group-btn"><input type="submit" class="btn btn-primary btn-form display-4"></span>
             <span>Already have an account?<a href="/login">Login Now</a></span>
            <div class="clearfix"></div>
     </form>
            </div>
        </div>
    </div>
        <section class="mbr-section article content9 cid-ris3ef8bAk" id="content9-h">
    
     

    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 50%;">
            
            <!-- <hr class="line" style="width: 25%;"> -->
        </div>
        </div>
</section>
                 





    <!-- <form action="/signup" method="post">
    <label>First Name</label>
    <input type="text" name="firstname" class="span3">
    <label>Last Name</label>
    <input type="text" name="lastname" class="span3">
    <label>Email Address</label>
    <input type="email" name="email" class="span3">
    <label>Username</label>
    <input type="text" name="username" class="span3">
    <label>Password</label>
    <input type="password" name="password" class="span3">
    <label><input type="checkbox" name="terms"> I agree with the <a href="#">Terms and Conditions</a>.</label>
    <input type="submit" value="Sign up" class="btn btn-primary pull-right">
    <div class="clearfix"></div>
    </form> -->

<section class="map1 cid-ris2D60d0k" id="map1-e">

     

    <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.8844451901796!2d77.15029131508398!3d28.693103082393932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d03b972435671%3A0xb193ebb70fcbd2d7!2sNabo+Technologies!5e0!3m2!1sen!2sin!4v1550555901568" allowfullscreen=""></iframe></div>
</section>

     
     <% include footer.ejs %>
</body>
</html>