<!DOCTYPE html>
<html>
<head>
	<title></title>
  <% include head.ejs %>
   </head>
    <body>
      <% include header.ejs %>
      
<section class="engine"><a href="https://mobirise.info/t">free amp template</a></section>
<section class="header9 cid-rijNA58D0w mbr-fullscreen mbr-parallax-background" id="header9-b">

    

    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);">
    </div>

    <div class="container">
        <div class="media-container-column mbr-white">
            <h1 class="mbr-section-title align-left mbr-bold pb-3 mbr-fonts-style display-1">Fast and easy process!</h1>
            <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-2">We’re always available for your needs, 24/7</h3>
            <p class="mbr-text align-left pb-3 mbr-fonts-style display-5">
                Creative Group is the company behind Nabo. Nabo has grown to provide millions of customers with top ups since it was launched in 2017. Every day, we provide smiles and security with our one-of-a-kind tech platform. We’re tirelessly working so that people can easily support others by sending digital value quickly and safely, all over the India.<br>
            </p>
            
        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="map1 cid-risk0zeTPf" id="map1-r">

     

    <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.8844451901796!2d77.15029131508398!3d28.693103082393932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d03b972435671%3A0xb193ebb70fcbd2d7!2sNabo+Technologies!5e0!3m2!1sen!2sin!4v1550555901568" allowfullscreen=""></iframe></div>
</section>


     <% include footer.ejs %>
</body>
</html>