<!DOCTYPE html>
<html>
<head>
	<title></title>
     <% include head.ejs %>
   </head>
    <body>
      <% include header.ejs %>
     
     <section class="engine"><a href="https://mobirise.info/v">html templates</a></section><section class="mbr-section content5 cid-risE0semkN" id="content5-u">

    

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(129, 2, 173);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">Terms of Use</h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content9 cid-rijvBbaYUt" id="content9-f">
    
     

    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-fonts-style display-7"><div>
</div><div><strong>Eligibility
</strong></div><div>
</div><div>The services are not available to persons under the age of 18 or to anyone previously suspended or removed from the services by Nabo. By accepting these Terms &amp; Use or by otherwise using the Services or the Site, You represent that You are at least 18 years of age and have not been previously suspended or removed from the Services. You represent and warrant that you have the right, authority, and capacity to enter into this Agreement and to abide by all of the terms and conditions of this Agreement. You shall not impersonate any person or entity, or falsely state or otherwise misrepresent identity, age or affiliation with any person or entity.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><strong>Redemptions
</strong></div><div>
</div><div>Coupon/Offer redemption is purely subjected to standard and specified terms and conditions mentioned by the respective provider. Coupons are issued on behalf of the respective provider. Hence, any damages, injuries, losses incurred by the end user by using the coupon is not the responsibility of Nabo Technologies.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><strong>Privacy Policy &amp; Information Usage
</strong></div><div>
</div><div>We respect your privacy at Nabo and value your trust. Kindly read our Privacy Policy carefully for information related to our collection, use, and disclosure of your personal information. The Privacy Policy is incorporated by reference in this Agreement. Use of the Nabo website, applications and/or its services constitutes acceptance of the Privacy Policy.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><strong>Your Account
</strong></div><div>
</div><div>You agree that the information you provide to Nabo on registration and at all other times, including payment, will be true, accurate, current, and complete. You also agree that you will ensure that this information is kept accurate and up-to-date at all times. If you have reason to believe that Your Account is no longer secure (e.g., in the event of a loss, theft or unauthorized disclosure or use of Your account ID, PIN, Password, or any credit, debit or prepaid cash card number or net-banking login/password, if applicable), then you agree to immediately notify Nabo and indemnify Nabo from any liabilities that may arise from the misuse of your account.
</div><div>
</div><div>
</div><div>
</div><div>Your mobile number and email acts as your username that will identify your account and thereby all of your transactions and account related activity on Nabo. If an account is found to be overly inactive, the account may be reclaimed by Nabo without notice. Inactivity may be considered as you're not signing in and/or never having done a transaction from your account on Nabo for more than six months at a stretch.
</div><div>
</div><div>
</div><div>
</div><div>We encourage you to choose a strong password to protect your account. It is advised that you not share your password with anyone or write it down. Make sure you sign out before leaving a computer unattended. Nabo never, under any circumstances, asks for your account password.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><strong>Third Party Sites, Products and Services
</strong></div><div>
</div><div>The Services and/or the Site may include links or references to other web sites or services solely as a convenience to users ("Reference Sites"). Nabo does not endorse any such Reference Sites or the information, materials, products, or services contained on or accessible through Reference Sites. In addition, Your correspondence or business dealings with, or participation in promotions of, advertisers found on or through the Services and/or the Site are solely between You and such entity. Access and use of reference sites, including the information, materials, products, and services on or available through reference sites is solely at your own risk.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><strong>Billing and Payment
</strong></div><div>
</div><div>We may in future provide a detailed billing summary in the format of its choice, which may change from time to time. This summary may be found by logging into your account (if you have registered and created an account) on the Site. All charges will be automatically placed to your credit card, debit card, prepaid cash card, paypal or netbanking account for the amount of Recharge successfully purchased at the time of purchase. No additional notice or consent will be required for charging Service use to your credit card, debit card, prepaid cash card, net-banking account or paypal account. The merchant name "Nabo Technologies" will appear on your credit card statement for all purchases you do at www.nabotechnologies.com.</div><br><div><strong>All Sales are Final
</strong></div><div>
</div><div>All sales of Recharge are final with no refund or exchange permitted. You are responsible for the details you provide that lead to a purchase. However, if in a transaction performed by you on the Site, money has been charged to your card or bank account and service is not delivered within 24 hours of your completion of the transaction then you may inform us by sending an email to our customer services email address mentioned on the Contact Us page. Nabo shall investigate the case and if it is found that money was indeed charged to your card or bank account without delivery of the Service then you will be refunded the money within 7 working days from the date of receipt of your email.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><strong>Termination; Agreement Violations
</strong></div><div>
</div><div>You agree that Nabo, in its sole discretion, for any or no reason, and without penalty, may suspend or terminate Your account (or any part thereof) or Your use of the Services and remove and discard all or any part of Your account, Your user profile, or Your recipient profile, at any time. Nabo may also in its sole discretion and at any time discontinue providing access to the Services, or any part thereof, with or without notice. You agree that any termination of Your access to the Services or any account You may have or portion thereof may be effected without prior notice, and You agree that Nabo will not be liable to You or any third party for any such termination. Any suspected fraudulent, abusive or illegal activity may be referred to appropriate law enforcement authorities. These remedies are in addition to any other remedies Nabo may have at law or in equity. Upon termination for any reason, You agree to immediately stop using the Services.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><strong>Limitation of Liability and Damages
</strong></div><div>
</div><div>In no event will Nabo or its contractors, agents, licensors, partners, or suppliers be liable to you for any special, indirect, incidental, consequential, punitive, reliance, or exemplary damages (including without limitation lost business opportunities, lost revenues, or loss of anticipated profits or any other pecuniary or non-pecuniary loss or damage of any nature whatsoever) arising out of or relating to (i) this agreement, (ii) the services, the site or any reference site, or (iii) your use or inability to use the services, the site (including any and all materials) or any reference sites, even if Nabo or a Nabo authorized representative has been advised of the possibility of such damages. In no event will Nabo or any of its contractors, directors, employees, agents, third party partners, licensors or suppliers' total liability to You for all damages, liabilities, losses, and causes of action arising out of or relating to (i) this Agreement, (ii) the Services, (iii) Your use or inability to use the Services or the Site (including any and all Materials) or any Reference Sites, or (iv) any other interactions with Nabo, however caused and whether arising in contract, tort including negligence, warranty or otherwise, exceed the amount paid by You, if any, for using the portion of the Services or the Site giving rise to the cause of action or One Thousand Rupees (Rs.1000), whichever is less. You acknowledge and agree that Nabo has offered its products and services, set its prices, and entered into this agreement in reliance upon the warranty disclaimers and the limitations of liability set forth herein, that the warranty disclaimers and the limitations of liability set forth herein reflect a reasonable and fair allocation of risk between you and Nabo, and that the warranty disclaimers and the limitations of liability set forth herein form an essential basis of the bargain between you and Nabo. Nabo would not be able to provide the services to you on an economically reasonable basis without these limitations. Applicable law may not allow the limitation or exclusion of liability or incidental or consequential damages, so the above limitations or exclusions may not apply to You. In such cases, Nabo’s liability will be limited to the fullest extent permitted by applicable law. This paragraph shall survive termination of this Agreement.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><strong>Indemnification
</strong></div><div>
</div><div>You agree to indemnify, save, and hold Nabo, its affiliates, contractors, employees, officers, directors, agents and its third party suppliers, licensors, and partners harmless from any and all claims, losses, damages, and liabilities, costs and expenses, including without limitation legal fees and expenses, arising out of or related to Your use or misuse of the Services or of the Site, any violation by You of this Agreement, or any breach of the representations, warranties, and covenants made by You herein. Nabo reserves the right, at Your expense, to assume the exclusive defense and control of any matter for which You are required to indemnify Nabo, including rights to settle, and You agree to cooperate with Nabo’s defense and settlement of these claims. Nabo will use reasonable efforts to notify You of any claim, action, or proceeding brought by a third party that is subject to the foregoing indemnification upon becoming aware of it. This paragraph shall survive termination of this Agreement.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><strong>Disclaimer; No Warranties
</strong></div><div>
</div><div>To the fullest extent permissible pursuant to applicable law, Nabo and its third-party partners, licensors, and suppliers disclaim all warranties, statutory, express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, and non-infringement of proprietary rights. No advice or information, whether oral or written, obtained by you from Nabo or through the services or the site will create any warranty not expressly stated herein. You expressly acknowledge that as used in this section, the term "Nabo Technologies" includes Nabo’s officers, directors, employees, shareholders, agents, licensors, subcontractors and affiliated companies. You acknowledge that Nabo is a reseller and is not liable for any 3rd party (suppliers) obligations due to rates, quality, and all other instances, whether to any such supplier’s subscribers or otherwise. You expressly agree that use of the services and the site is at your sole risk. It is your responsibility to evaluate the accuracy, completeness and usefulness of all opinions, advice, services, merchandise and other information provided through the site or on the internet generally. We do not warrant that the service will be uninterrupted or error-free or that defects in the site will be corrected. The services and the site and any data, information, third party software, reference sites, services, or software made available in conjunction with or through the services and the site are provided on an "as is" and "as available," "with all faults" basis and without warranties or representations of any kind either express or implied. Nabo, and its third party suppliers, licensors, and partners do not warrant that the data, InstantPay software, functions, or any other information offered on or through the services, the site or any reference sites will be uninterrupted, or free of errors, viruses or other harmful components and do not warrant that any of the foregoing will be corrected. Nabo and its third party suppliers, licensors, and partners do not warrant or make any representations regarding the use or the results of the use of the services, the site or any reference sites in terms of correctness, accuracy, reliability, or otherwise.you understand and agree that you use, access, download, or otherwise obtain information, materials, or data through the services, the site or any reference sites at your own discretion and risk and that you will be solely responsible for any damage to your property (including your computer system and device) or loss of data that results from the download or use of such material or data. We do not authorize anyone to make any warranty on our behalf and you should not rely on any such statement. This paragraph shall survive termination of this agreement. In no event will Nabo be liable for any incidental, consequential, or indirect damages (including, but not limited to, damages for loss of profits, business interruption, loss of programs or information, and the like) arising out of the use of or inability to use the site.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><strong>Ownership; Proprietary Rights
</strong></div><div>
</div><div>The Services and the Site are owned and operated by Nabo and/or third party licensors. The visual interfaces, graphics, design, compilation, information, computer code (including source code and object code), products, software, services, and all other elements of the Services and the Site provided by Nabo (the "Materials") are protected by Indian copyright, trade dress, patent, and trademark laws, international conventions, and all other relevant intellectual property and proprietary rights, and applicable laws. As between You and InstantPay, all Materials, trademarks, service marks, and trade names contained on the Site are the property of Nabo and/or third party licensors or suppliers. You agree not to remove, obscure, or alter Nabo or any third party's copyright, patent, trademark, or other proprietary rights notices affixed to or contained within or accessed in conjunction with or through the Services. Except as expressly authorized by Nabo, You agree not to sell, license, distribute, copy, modify, publicly perform or display, transmit, publish, edit, adapt, create derivative works from, or otherwise make unauthorized use of the Materials. Nabo reserves all rights not expressly granted in this Agreement. If You have comments regarding the Services and the Site or ideas on how to improve it, please contact our Helpdesk. Please note that by doing so, You hereby irrevocably assign to Nabo, and shall assign to Nabo,all right, title and interest in and to all ideas and suggestions and any and all worldwide intellectual property rights associated therewith. You agree to perform such acts and execute such documents as may be reasonably necessary to perfect the foregoing rights.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><strong>Modification of this Agreement
</strong></div><div>
</div><div>Nabo reserves the right to change, modify, add, or remove portions of this Agreement (each, a "change") at any time by posting notification to the Nabo website www.nabotechnologies.com or otherwise communicating the notification to You. The changes will become effective, and shall be deemed accepted by You, 24 hours after the initial posting and shall apply immediately on a going-forward basis with respect to payment transactions initiated after the posting date. If You do not agree with any such modification, Your sole and exclusive remedy is to terminate your use of the services. For certain changes, InstantPay may be required under applicable law to give you advance notice, and InstantPay will comply with such requirements.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><strong>Notice
</strong></div><div>
</div><div>Nabo may provide you with notices and communications by email, regular mail or postings on the Nabo website www.nabotechnologies.com or by any other reasonable means. Except as otherwise set forth herein, notice to Nabo must be sent by courier or registered mail to General Counsel, Nabo Technologies, Office 202, GD-ITL Tower (B-8) Netaji Subhash Place, Pitampura, Delhi - 110034, India.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><strong>Waiver
</strong></div><div>
</div><div>The failure of Nabo to exercise or enforce any right or provision of this Agreement will not constitute a waiver of such right or provision. Any waiver of any provision of this Agreement will be effective only if in writing and signed by Nabo.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><span style="font-size: 1rem;"><strong>Arbitration</strong></span><br></div><div>
</div><div>Nabo may elect to resolve any dispute, controversy or claim arising out of or relating to this Agreement or Service provided in connection with this Agreement by binding arbitration in accordance with the provisions of the Indian Arbitration &amp; Conciliation Act, 1996. Any such dispute, controversy or claim shall be arbitrated on an individual basis and shall not be consolidated in any arbitration with any claim or controversy of any other party. The arbitration shall be conducted in Delhi, India and judgment on the arbitration award may be entered in any court having jurisdiction thereof. Either you or we may seek any interim or preliminary relief from a court of competent jurisdiction in New Delhi, India, necessary to protect the rights or the property of you or Nabo (or its agents, suppliers, and subcontractors), pending the completion of arbitration. Any arbitration shall be confidential, and you nor we may disclose the existence, content or results of any arbitration, except as may be required by law or for purposes of the arbitration award. All administrative fees and expenses of an arbitration will be divided equally between you and us. In all arbitrations, each party will bear the expense of its own lawyers and preparation. The language of arbitration shall be English.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><strong>Governing Law and Forum for Disputes
</strong></div><div>
</div><div>Except as otherwise agreed by the parties or as described in the Arbitration section above, you agree that any claim or dispute you may have against Nabo must be resolved by a court located in New Delhi, India. You agree to submit to the personal jurisdiction of the courts located within New Delhi, India for the purpose of litigating all such claims or disputes. This Agreement shall be governed by the laws of India, without giving effect to any principles of conflicts of law.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><strong>Severability
</strong></div><div>
</div><div>If any provision of this Agreement is held to be unlawful, void, invalid or otherwise unenforceable, then that provision will be limited or eliminated from this Agreement to the minimum extent required, and the remaining provisions will remain valid and enforceable.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><strong>Assignment
</strong></div><div>
</div><div>This Agreement, and any rights granted hereunder, may not be transferred or assigned by You without our prior written consent which may be withheld in our sole discretion, but may be assigned by us without restriction. Any assignment attempted to be made in violation of this provision shall be void and of no effect.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><strong>Survival
</strong></div><div>
</div><div>Upon termination of this Agreement, any provision which, by its nature or express terms should survive, will survive such termination or expiration as applied to transfers and relationship prior to such termination or expiration.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><strong>Headings
</strong></div><div>
</div><div>The heading references herein are for convenience purposes only, do not constitute a part of these Terms and Conditions, and will not be deemed to limit or affect any of the provisions hereof.</div><br><div>
</div><div>
</div><div>
</div><div>
</div><div><strong>Entire Agreement
</strong></div><div>
</div><div>This is the entire agreement between You and Nabo relating to the subject matter hereof and will not be modified except in writing, signed by both parties, or by a change to this Agreement made by Nabo in accordance with the terms of this Agreement.</div></div>
            <hr class="line" style="width: 25%;">
        </div>
        </div>
</section>

<section class="map1 cid-rijuS2LKlY" id="map1-d">

     

    <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.8844451901796!2d77.15029131508398!3d28.693103082393932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d03b972435671%3A0xb193ebb70fcbd2d7!2sNabo+Technologies!5e0!3m2!1sen!2sin!4v1550555901568" allowfullscreen=""></iframe></div>
</section>

  <% include footer.ejs %>
</body>
</html>